* {
    margin: 0;
    padding: 0;
}


.header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5%;
}


h1 {
    margin-top: 3%;
}

.logo {
    background-color: white;
}

main,
.ourstory {
    padding-bottom: 10%;
}

.special,
.location {
    padding-top: 10%;
    padding-bottom: 10%;
}


.googleMap {

    overflow: hidden;
    position: relative;


}



